<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>FlashCard Game</h1>
        <div class="buttons">
            <a href="/manage_decks"><button>Manage Deck</button></a> 
            <a href="/manage_flashcards"><button>Manage Flashcard</button></a>
            <a href="/start_learning"><button>Start Learning</button></a> 
        </div>
    </div>
</body>
</html>
